.body {
	background-color: black;
}
.gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.grid {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}
.scoreboard {
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    display: Justify-content-between;
    flex-direction: column;
    align-items: center;
}
  
.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-image: url('images/dot.jpg');
    background-size: cover;
    border: 5px solid black;
    box-sizing: border-box;
}

.wall {
    background-image: url('images/wall.png');
    background-size: cover;
}

.power-pellet {
    background-image: url('images/magicdot.jpg');
    background-size: cover;
    border-radius: 10px;
}

.blinky {
    background-image: url('images/ghostRed.png');
    background-size: cover;
	border-radius: 5px;
}

.pinky {
    background-image: url('images/Pacman3.png');
    background-size: cover;
	border-radius: 5px;
}

.inky {
    background-image: url('images/ghostGreen.png');
    background-size: cover;
	border-radius: 5px;
}

.clyde {
    background-image: url('images/ghostYellow.png');
    background-size: cover;
	border-radius: 5px;
}

.pac-man {
    background-image: url('images/pacmanRight.png');
    background-size: cover;
    border-radius: 50%;
    position: relative;
    animation: chomping 0.5s infinite;
}

@keyframes chomping {
    0% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 50% 50%);
    }
    50% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 50% 50%);
    }
}


.scared-ghost {
    background-color: aquamarine;
}

.bonus-point {
    background-image: url('images/bonusdot.jpg');
    background-size: cover;
    border-radius: 50%;
}
